.swiper {
 
  // z-index: -1;
}

.swiper-wrapper {
}
.swiper-slide {
	img,
    picture {
      width: 100%;
      height: 100%;
    }
  
}
.swiper-button-next,
.swiper-button-prev {
  position: relative;
  right: 0;
  @include wh(32px);
  background-color: $textAccentColor;
  border-radius: 50%;
  &:hover {
    // background-color: #3a3a3a;
  }
  &::after {
    @include pseudo;
    background-color: $textMainColor;

    @include wh(11px, 8px);
    @include background(url("@img/icons/Arrow.svg"));
    @include pos(absolute, $top: 50%, $left: 56%);
    transform: translate(-50%, -50%);
  }
}

.swiper-button-next {
}

.swiper-button-prev {
  right: 0px;

  &::after {
    transform: translate(-50%, -50%) rotate(180deg);
    left: 42%;
  }
}

.swiper-button-disabled {
  &::after {
    @include background(url(../img/icons/arrow.svg));
  }
}

.swiper-button-prev.swiper-button-disabled {
  &::after {
    // transform: translate(-50%, -50%) rotate(0deg);
  }
}

.swiper-button-next.swiper-button-disabled {
  &::after {
    // transform: translate(-50%, -50%) rotate(180deg);
  }
}
.swiper-scrollbar {
 
  position: relative;
  background-color: $textAccentColor;
  height: 1px;
  bottom: 0;
  left: 0;
  
  &-drag {
    background: $accentColor;
    height: 3px;
  }
}
.swiper-pagination {
 
  position: relative;
  display: flex;
}
.swiper-pagination-bullet {
  opacity: 0;
  &-active {
    opacity: 1;
    width: 0;
    font-family: "Montserrat-SemiBold";
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    color: $textAccentColor;
  }
}
