.gallery {
  padding: 80px 0 110px;
  // .gallery__title
  &__title {
    margin-bottom: 50px;
  }
  // .gallery__control
  &__control {
    width: 100%;
    height: 42px;
    @include flex(space-between);
  }
  // .gallery__buttons
  &__buttons {
    @include flex(space-between);
  }
}
.container {
}
.title {
}
.title--extrabold {
}
.swiper {
  margin-bottom: 30px;
}
.gallerySwiper {
}
.swiper-wrapper {
}
.swiper-slide {
  max-height: 650px;

  border-radius: 10px;
}
.swiper-scrollbar {
  background-color: #d9d9d9;
}
.swiper-pagination {
}
.swiper-button-prev {
}
.swiper-button-next {
}
