// Заголовки, общие БЄМ блоки и проче...

.title {
}

.subtitle {
  font-family: "Montserrat-Medium";
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.05em;

  color: $textSecondColor;
}

.text {
  &--extrabold {
    font-family: "Montserrat-ExtraBold";
    font-weight: 800;
  }
}
