// Заголовки, общие БЄМ блоки и проче...

.title {
  font-family: "Montserrat-Medium";
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-align: center;

  color: $textSecondColor;

  &--extrabold {
    font-family: "Montserrat-ExtraBold";
    font-weight: 800;
    color: $textMainColor;
    display: block;
  }
}

.subtitle {
  font-family: "Montserrat-Medium";
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.05em;

  color: $textSecondColor;
}

.text {
  font-family: "Montserrat-Medium";
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: center;

color: $textMainColor;


  &--extrabold {
    font-family: "Montserrat-ExtraBold";
    font-weight: 800;
  }
}
